<mat-card class="group-detail">
  <mat-card-header>
    <div mat-card-avatar class="d__image" [ngStyle]="{'background-image': backgroundImage}"></div>
    <mat-card-title class="d__title">اسم گروه</mat-card-title>
    <mat-card-subtitle class="d__subtitle">
      تاریخ تاسیس: 1398/7/27
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="d__content">
    <div class="d__c__description">

      توضیحات این گروه شامل چیزی که از دیتابیس می‌آید و توسط مدیر آن کامیونیتی نوشته می‌شود.
    </div>

  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
