.group-detail {
  direction: rtl;
  text-align: justify;

  .d__image {
    background-size: cover;
  }

  .d__title {}

  .d__subtitle {
    font-size: 10px;
  }

  .d__content {
    .d__c__description {}
  }

}
