:host {
  display: flex;
  justify-content: center;
}

.container {
  min-width: 70%;
  max-width: 82%;
}

::ng-deep {
  .mat-form-field-appearance-outline {

    .mat-form-field-outline {
      display: none !important;
    }

    .mat-form-field-infix {
      padding: 0 !important;
      border: none;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
}
