@import './../../../../../../../styles/widget';


mat-card-content {
  margin-bottom: 0;

  .user__item {
    font-size: 12px;
    height: 36px !important;

    .user__item__name {
      margin-left: auto;
    }

    .user__item__value {
      margin-right: auto;
    }
  }
}
