  <header *ngIf="authState$ | async as authState" class="flex-between">
    <span class="header__title">پایگاه اجتماعات ایران</span>
    <div class="header__user">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
        <mat-icon>person</mat-icon>
        <span>{{ authState.user?.username }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button disableRipple mat-menu-item class="flex-center">
          <mat-slide-toggle style="vertical-align: middle" (change)="onThemeChange($event)">پس‌زمینه تیره
          </mat-slide-toggle>
        </button>
        <ng-container *ngIf="authState.user else notLoggedIn">
          <a mat-menu-item [routerLink]="['c', 'new']">ساخت فروم</a>
          <a mat-menu-item [routerLink]="['b', 'new']">ساخت بلاگ</a>
        </ng-container>
        <ng-template #notLoggedIn>
          <button (click)="onLogin()" mat-menu-item>
            <span>ورود / ثبت‌نام</span>
            <mat-icon>input</mat-icon>
          </button>
        </ng-template>
      </mat-menu>
    </div>
  </header>
