<ng-container *ngIf="user$ | async as user">
  <header class="flex-between">
    <span
      class="header__title hover-pointer"
      style="z-index: 2; outline: none;"
      routerLink="/"
    >
      <img
        style="width: 70px; height: 60px;"
        class="mt-2"
        src="./../../../../assets/logo-mini.png"
      />
    </span>
    <div class="d-flex align-center">
      <form [formGroup]="form" class="search-form m-auto">
        <mat-form-field
          id="header__search"
          class="no-animation h-100"
          [ngClass]="{
            search_focused: isOpenSearch,
            search_unfocused: isFirstCloseHappened
          }"
          floatLabel="never"
        >
          <input
            (blur)="onBlurSearch()"
            (focus)="onFocusSearch()"
            #searchInput="matInput"
            formControlName="text"
            matInput
            placeholder="جست‌و‌جو"
            [matAutocomplete]="auto"
          />
          <button matSuffix mat-icon-button>
            <mat-icon class="fa fa-search"></mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let result of (search$ | async)?.results"
              class="text-persian"
              style="background-color: rgb(145, 202, 204);"
              [value]="result.name"
              (onSelectionChange)="onResultClick(result)"
            >
              <span>{{ result.name }}</span> |
              <small>{{ result.type === "FORUM" ? "انجمن" : "بلاگ" }}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <div class="header__user hover-pointer" [matMenuTriggerFor]="menu">
      <div class="menu flex-dir-col">
        <img
          class="no-select avatar-menu"
          [ngClass]="{ connected: user.user }"
          [src]="user.user?.avatar || '../../../../assets/avatar.png'"
        />
        <mat-icon
          class="fa fa-chevron-down fs-small"
          style="margin-top: -15px; color: white; height: 16px;"
        ></mat-icon>
      </div>
    </div>
  </header>
  <mat-menu #menu="matMenu" class="no-custom-theme">
    <button disableRipple mat-menu-item class="flex-center align-center">
      <mat-slide-toggle
        style="vertical-align: middle;"
        [checked]="themeService.isDark"
        (change)="onThemeChange($event)"
        >پس‌زمینه تیره
      </mat-slide-toggle>
    </button>
    <ng-container *ngIf="user.user; else notLoggedIn">
      <button
        *ngIf="user.user.socials?.length > 0"
        mat-menu-item
        [matMenuTriggerFor]="socials"
      >
        بلاگ‌ و فروم‌ها
      </button>
      <button mat-menu-item [matMenuTriggerFor]="notifications">
        اطلاعیه‌ها
      </button>
      <button mat-menu-item id="createForum" [routerLink]="['c', 'new']">
        ساخت فروم
        <mat-icon class="fa fa-comments"></mat-icon>
      </button>
      <button mat-menu-item id="createBlog" [routerLink]="['b', 'new']">
        ساخت بلاگ
        <mat-icon class="fa fa-blog"></mat-icon>
      </button>
      <button mat-menu-item [routerLink]="['settings']">
        تنظیمات کاربری
        <mat-icon class="fa fa-user-circle"></mat-icon>
      </button>
      <button id="logout" mat-menu-item (click)="logout()">
        خروج
        <mat-icon class="fa fa-sign-out-alt"></mat-icon>
      </button>

      <mat-menu #notifications="matMenu" class="no-custom-theme">
        <ng-container
          *ngIf="
            user.user.socials?.length > 0 && notificationCount$ | async;
            else noNotification
          "
        >
          <ng-container *ngFor="let social of user.user?.socials">
            <a
              mat-menu-item
              *ngFor="let notification of social.notifications"
              [routerLink]="
                notification.pid
                  ? [
                      social.social.type === 'FORUM' ? 'c' : 'b',
                      social.social.name,
                      'p',
                      notification.pid
                    ]
                  : [
                      social.social.type === 'FORUM' ? 'c' : 'b',
                      social.social.name
                    ]
              "
            >
              <div class="d-flex align-center text-persian">
                <mat-icon class="fa fa-bell"></mat-icon>
                <div>
                  {{ notification.message }}
                </div>
              </div>
            </a>
          </ng-container>
        </ng-container>

        <ng-template #noNotification>
          <div
            class="fs-small flex-center align-center mat-menu-item"
            style="width: 200px; height: 50px; direction: rtl;"
          >
            اطلاعیه‌ای وجود ندارد.
          </div>
        </ng-template>
      </mat-menu>

      <mat-menu #socials="matMenu" class="no-custom-theme">
        <a
          mat-menu-item
          *ngFor="let social of user.user.socials"
          [routerLink]="[
            social.social.type === 'FORUM' ? 'c' : 'b',
            social.social.name
          ]"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="d-flex align-center text-persian">
            <mat-icon
              class="fa"
              [ngClass]="
                social.social.type === 'FORUM' ? 'fa-comments' : 'fa-blog'
              "
            ></mat-icon>
            <div>{{ social.social.name }}</div>
            <div
              class="notifications"
              *ngIf="social.notifications?.length as notifLength"
            >
              {{ notifLength }}
            </div>
          </div>
        </a>
      </mat-menu>
    </ng-container>
    <ng-template #notLoggedIn>
      <button id="loginBtn" (click)="onLogin()" mat-menu-item>
        <span>ورود / ثبت‌نام</span>
        <mat-icon class="fa fa-sign-in-alt"></mat-icon>
      </button>
    </ng-template>
  </mat-menu>
</ng-container>
