@import '../../../../styles/form';

.show-rule-btn {
  align-self: center;
}

.register-rules-card {
  padding: 0;

  .rules {
    overflow: hidden;
    transition: width .5s ease-out;
    max-width: 400px;

    .rules-text {
      width: 400px;

      p {
        text-align: justify;
      }
    }
  }
}

.expanded {
  width: 400px;
  padding-left: 16px;
}

.collapsed {
  width: 0;
}

.rotate-right {
  transform: rotateZ(180deg);
  transition: transform 0.5s;
}

.rotate-left {
  transform: rotateZ(0deg);
  transition: transform 0.5s;

}
