<mat-card class="p-0" style="width: fit-content;">
  <mat-card-content class="d-flex" style="flex-direction: row;">
    <app-register (checkboxChange)="toggleRule()"></app-register>
    <div class="d-flex">
      <button (click)="toggleRule()" mat-icon-button class="show-rule-btn">
        <mat-icon [ngClass]="isRuleOpen ? 'rotate-right' : 'rotate-left'"
          >keyboard_arrow_left</mat-icon
        >
      </button>
      <div class="no-scroll rules collapsed" #rules>
        <div class="rules-text">
          <h3>قوانین و مقررات</h3>
          <div
            style="
              overflow: auto;
              height: 385px;
              box-shadow: inset black 1px 0px 6px;
              padding: 1rem 1rem 0 0;
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
            "
          >
            <div style="padding-left: 1rem; text-align: justify;">
              پایگاه اجتماعات ایران یک بستر خصوصی انتشار محتوا (Microblog and
              Community) است. اگر در پایگاه اجتماعات ایران شناسۀ کاربری ثبت
              کرده‌اید، «شرایط استفاده» بینِ شما و پایگاه اجتماعات ایران به
              نشانی اینترنتی miakova.ir به‌عنوانِ قراردادی بین شما و پایگاه
              اجتماعات ایران برقرار است. استفادۀ شما از پایگاه اجتماعات ایران
              به‌منزلۀ پذیرشِ کاملِ «شرایط استفاده» است. امکانِ تغییر در جزئیات
              یا کلیات «شرایط استفاده از پایگاه اجتماعات ایران» وجود دارد.
              تغییرات در بسترِ زمان، به‌دلیلِ اتفاق‌های پیش‌بینی‌نشده یا
              به‌منظورِ بهبودِ کیفیت ارائه خدمات اعمال می‌شوند. هر نوع تغییر در
              این شرایط از طریق رایانامه به کاربران اعلام خواهد شد و پس از
              اعمالِ تغییرات و اطلاع‌رسانی از سوی پایگاه اجتماعات ایران، استفادۀ
              کاربران از پایگاه اجتماعات ایران تابعِ متنِ به‌روزرسانی‌شده است.
              در صورتی که دسترسی کاربران به پایگاه اجتماعات ایران به دلایلی خارج
              از اختیار پایگاه اجتماعات ایران میسر نباشد، پایگاه اجتماعات ایران
              هیچ گونه مسئولیتی نخواهد داشت.
              <p class="fw-bold">شیوۀ کار</p>
              <p>
                برای ثبتِ نوشته لازم است در پایگاه اجتماعات ایران ثبت‌نام کرده
                باشید. در زمان ثبت‌نام، نام، نام کاربری، نشانی ایمیل و یک رمز
                عبور از شما خواسته می‌شود تا بتوانید در زمان‌های بعدی به حساب
                کاربری‌تان دسترسی داشته باشید درج اطلاعات درست در هنگام ثبت‌نام
                ضروری‌ست کاربران می‌توانند از نام مستعار در زمان ثبت‌نام استفاده
                کنند، اما سایر اطلاعات می‌بایست واقعی باشد. هر شخص فقط مجاز به
                داشتن یک حساب کاربری شخصی در پایگاه اجتماعات ایران است. هر زمان
                بخواهید می‌توانید هر نوشته را حذف یا کل حساب کاربری‌تان را
                غیرفعال کنید.
              </p>
              <p class="fw-bold">
                حقوق و مسئولیتها
              </p>
              حقوق معنوی و مادیِ نوشتۀ شما در پایگاه اجتماعات ایران، متعلق به
              شماست. با این حال، با انتشار نوشته های خود در پایگاه اجتماعات
              ایران، به پایگاه اجتماعات ایران اجازه نشر نوشته های خود را می
              دهید. پایگاه اجتماعات ایران خود را برابر حقوق معنوی و مادی نوشتۀ
              افراد مسئول می‌داند و برابرِ سرقت مطالبِ شما یا سرقتِ مطالبِ
              دیگران توسط کاربران پایگاه اجتماعات ایران از نویسندۀ اصلی حمایت
              می‌کند. نقلِ مطالبِ دیگران از سوی کاربران، بدونِ ذکرِ منبع ممنوع
              است. در صورتِ اعتراضِ صاحبِ اصلیِ نوشته (منبعِ اصلی) پایگاه
              اجتماعات ایران می‌تواند مطلبِ منتشرشده را حذف کند. مسئولیت حقوقی
              مطالب هر کاربر بر عهدۀ خود او است و پایگاه اجتماعات ایران به‌عنوان
              یک بستر نشر محتوا، هیچ دخالتی در نوشتۀ کاربرانش ندارد. مسئولیت
              محتوایی که منتشر می‌کنید بر عهده‌ی شماست. بدین معنا که شما متوجه
              کلیه‌ی عواقب ناشی از آن، شامل اعتماد دیگران به صحت محتوا، مسائل
              مربوط به حقوق مالکیت فکری و سایر مسائل و حقوق قانونی هستید. اهانت
              به سایر کاربران، شخصیت‌ها، افراد مشهور، مقدسات و قوانین جمهوری
              اسلامی ایران ممنوع است. پایگاه اجتماعات ایران بر اساس دریافت گزارش
              از سایر کاربران، برابر نشر محتوای حساسیت‌برانگیز یا توهین‌آمیز در
              نظرات یا پست‌ها، به محدود کردنِ شناسۀ کاربری یا در نهایت مسدودسازی
              آن اقدام خواهد کرد. انتشار مطالب مجرمانه در پایگاه اجتماعات ایران
              ممنوع است. کلیۀ مسوولیت‌های مربوط به انتشارِ مطالبِ مجرمانه در
              پایگاه اجتماعات ایران برعهدۀ کاربر است. پایگاه اجتماعات ایران به
              محض اطلاع از انتشار مطالب مجرمانه، نسبت به حذف آنها اقدام خواهد
              کرد. ما هرگز محتوای شما و اطلاعات شما را بدون کسب اجازه‌ی معتبر از
              شما به شخص یا نهادی ثالث نمی‌فروشیم. اطلاعات شخصیِ شما به امانت در
              اختیار ماست. پایگاه اجتماعات ایران این امانت را به هیچ‌وجه برای
              مقاصد تجاری استفاده نخواهد کرد. پایگاه اجتماعات ایران با توجه به
              همۀ اقتضائات، با تمام توان و ابزار قانونی، می‌کوشد از اطلاعات شخصی
              شما حراست کند. از نظرِ پایگاه اجتماعات ایران، مطالب صرفاً تبلیغاتی
              یا تجاری که با انگیزۀ لینک‌سازی و دستکاری سئو ثبت می‌شود، مصداقِ
              هرزنامه است. منتشرکنندگانِ هرزنامه تذکر دریافت می‌کنند و در صورتِ
              ادامۀ روند، شناسۀ کاربری آنها به‌مدتِ دو هفته غیرفعال می‌شود.
              اصرار بر انتشارِ هرزنامه موجبِ غیرفعال‌شدنِ دائمی شناسۀ کاربر
              خواهد شد. پایگاه اجتماعات ایران می تواند در کنار محتوای کاربر
              نمایش تبلیغات انجام دهد. همچنین کاربر اجازه استفاده از محتوای
              ایجاد شده توسط خود در بستر پایگاه اجتماعات ایران به منظور تبلیغ
              خدمات پایگاه اجتماعات ایران را به پایگاه اجتماعات ایران می دهد.
              کاربر می تواند محتوای خود را پاک کند، با این حال ممکن است این
              محتوا تا مدت زمان مشخصی در سرورهای پایگاه اجتماعات ایران باقی
              بماند. کاربران حق دسترسی یا تلاش برای دسترسی غیرمجاز به پایگاه
              اجتماعات ایران نخواهند داشت. در صورت اثبات دسترسی غیرمجاز کاربر به
              پایگاه اجتماعات ایران، کاربر مسئول خسارات و... خواهد بود. در صورتی
              که به دلایلی خارج از اختیار پایگاه اجتماعات ایران، مانند هک شدن از
              طرف شخص ثالث، خسارتی در اثر استفاده از سرویس پایگاه اجتماعات ایران
              به کاربر وارد شود، پایگاه اجتماعات ایران مسئول نخواهد بود. عدم
              اعمال فوری هر یک از حقوق مصرح در این شروط و مقررات برای پایگاه
              اجتماعات ایران از سوی پایگاه اجتماعات ایران، به معنای اعراض از
              حقوق نخواهد بود. استفاده از پایگاه اجتماعات ایران برای نمایش
              محتوای ناقض حقوق مالکیت فکری ممنوع است و در صورت نقض حقوق مالکیت
              فکری ثالث توسط کاربر، کاربر مسئولیت جبران خسارت و مسئولیت قانونی
              را بر عهده خواهد داشت.
              <p class="fw-bold">
                سرویس پایگاه اجتماعات ایران
              </p>
              <p>
                کلیۀ حقوق مربوط به سرویس پایگاه اجتماعات ایران شامل محصول پایگاه
                اجتماعات ایران، وبسایت، اپلیکیشن، محتوا و خدمات آن و سایر موارد
                مرتبط دیگر متعلق به پایگاه اجتماعات ایران است. هیچ‌کس اجازۀ
                نسخه‌برداری از طراحی یا کدهای پایگاه اجتماعات ایران را ندارد.
                جمع‌آوری و استفاده از داده‌ها، اطلاعات و محتوای منتشر شده در
                پایگاه اجتماعات ایران و خزیدن (Crawling) در سرویس‌ پایگاه
                اجتماعات ایران غیرمجاز است. شما با مسئولیت و صلاح‌دید خودتان از
                سرویس پایگاه اجتماعات ایران استفاده می‌کنید. ما هیچ‌گونه
                مسئولیتی در قبال ضرر و زیان مادی یا غیرمادی متأثر از فعالیت شما
                برعهده نداریم. پایگاه اجتماعات ایران می تواند نمایش محتوای ایجاد
                شده توسط کاربر را به دلایل مختلفی که خود تشخیص می دهد متوقف کند
                یا محتوای مذکور را حذف کند. چنان‌چه با سایر کاربران مشکلی
                داشتید، محتوایی را نامناسب ارزیابی کردید یا با نقض حریم خصوصی و
                مالکیت معنوی آثار دیگران مواجه شدید، می‌توانید مراتب به ما اطلاع
                دهید. فعالیت‌های پایگاه اجتماعات ایران تابع قوانین جمهوری اسلامی
                ایران است. چنانچه سوالی دربارۀ فعالیت‌های پایگاه اجتماعات ایران
                دارید از ما بپرسید.
              </p>
              <p class="fw-bold">امنیت</p>
              <p>
                در صورتی که نقصی امنیتی در سرویس پایگاه اجتماعات ایران مشاهده
                کردید، آن را با ما در میان بگذارید.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
