<mat-card class="p-0" style="width:fit-content">
  <mat-card-content class="d-flex">
    <app-register (checkboxChange)="toggleRule()"></app-register>
    <div class="d-flex">
      <button (click)="toggleRule()" mat-icon-button class="show-rule-btn">
        <mat-icon [ngClass]="isRuleOpen ? 'rotate-right' : 'rotate-left'">keyboard_arrow_left</mat-icon>
      </button>
      <div class="no-scroll rules collapsed" #rules>
        <div class="rules-text">
          <h3>قوانین و مقررات</h3>
          <p>ِشسیتشسنیتشسمنیت تینمشت منتشینت منتینشتسیمنشتیمنشت نمتشت متشیتنمشتس ینمشتم نتینشستنمش تیتمستینمتشتی تمستیت
            تشنستیمنتشنیتشنمت نتت نمیتشنمیتنمشتیت تیتنمش تمنیشسی تشیتتضخصتخحصضت کئ. دی صئیتض</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
