@import "./../../../../../variables";

:host {
  width: 70%;

  @media screen and (max-width: $max-width) {
    width: 95%;
    margin: 0;
  }
}

[mat-tab-nav-bar] {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
