      <mat-form-field class="w-100">
        <mat-chip-list #chipList aria-label="انتخاب زیرموضوعات">
          <mat-chip style="padding-top: 6px;padding-bottom: 5px;" *ngFor="let flair of selectedFlairs"
            (removed)="removeFlair(flair)">
            <mat-icon matChipRemove>cancel</mat-icon>
            {{ flair }}
          </mat-chip>
          <input [formControl]="flairsControl" [placeholder]="placeholder" #flairInput [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addFlair($event)" />
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="clickFlair($event)">
          <mat-option class="text-persian fs-normal" *ngFor="let flair of filteredFlairs | async" [value]="flair">
            {{ flair.viewValue }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
