<mat-card class="post text-persian pr-0 pb-0 d-flex">
  <div class="d-grid post__interact">
    <app-skeleton-line width="200" height="30" radius="25"></app-skeleton-line>
    <app-skeleton-line width="200" height="30" radius="25"></app-skeleton-line>

  </div>
  <div class="d-grid w-100">

    <mat-card-header class="flex-between">
      <mat-card-title class="post__title" style="width: 200px">
        <app-skeleton-line height="30"></app-skeleton-line>

      </mat-card-title>
      <mat-card-subtitle style="width: 120px">
        <app-skeleton-line></app-skeleton-line>
      </mat-card-subtitle>
      <app-skeleton-line width="120" height="30" radius="20"></app-skeleton-line>

    </mat-card-header>
    <mat-card-content class="post__content">
      <app-skeleton-line></app-skeleton-line>
      <app-skeleton-line></app-skeleton-line>
      <app-skeleton-line></app-skeleton-line>
      <app-skeleton-line width="30"></app-skeleton-line>
    </mat-card-content>
    <mat-card-actions class="mb-0 p-0 mr-2">
      <app-skeleton-line width="35" height="25"></app-skeleton-line>
    </mat-card-actions>
  </div>
</mat-card>
