@import "./../../../../../../variables";
th,
td {
  text-align: center !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0;
  @media screen and (max-width: $max-width) {
    padding-right: 0.5rem !important;
  }
}

.mobile-no-pic {
  @media screen and (max-width: $max-width) {
    display: none;
  }
}

th.mat-header-cell:last-of-type {
  padding-left: 12px;
}
td.mat-cell:last-of-type {
  padding-right: 0;
}
.avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
  @media screen and (max-width: $max-width) {
    width: 50px;
    height: 50px;
  }
}

.icon-fix {
  margin-right: 2px;
}

.badge {
  margin-right: -8px;
  margin-top: 4px;
  font-size: 20px;
  height: 25px;
  width: 25px;
  background-color: darkgreen;
  border-radius: 50%;
}
mat-form-field {
  width: 100px;
  @media screen and (max-width: $max-width) {
    width: 75px;
  }
}

.fa-user-tie {
  color: gold;
}

.fa-user-tag {
  color: silver;
}

mat-paginator {
  box-shadow: -6px 24px 43px -21px rgba(0, 0, 0, 0.45);
}
