%mr-0 {
  margin-right: 0 !important;
}

%ml-0 {
  margin-left: 0 !important;
}

%mt-0 {
  margin-top: 0 !important;
}

%mb-0 {
  margin-bottom: 0 !important;
}

%mr-auto {
  margin-right: auto !important;
}

%ml-auto {
  margin-left: auto !important;
}

%mt-auto {
  margin-top: auto !important;
}

%mb-auto {
  margin-bottom: auto !important;
}

%mr-1 {
  margin-right: 6px !important;
}

%ml-1 {
  margin-left: 6px !important;
}

%mt-1 {
  margin-top: 6px !important;
}

%mb-1 {
  margin-bottom: 6px !important;
}
