<!-- TODO: set options with registered groups of user which user access to write -->
<div class="container">
  <span class="fw-bold fs-small flex-end">کلمات: {{ wordsCount }}</span>
  <div class="flex-between">
    <mat-form-field>
      <mat-select placeholder="انجمن یا بلاگ" [value]="groupName" (selectionChange)="changeForum($event.value)">
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf="isXSmall$ | async else notXSmall" class="post__more" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div>
    <textarea style="color: unset;" cdkTextareaAutosize cdkAutosizeMinRows="1" type="text"
      class="d-flex w-100 f-blog-title editor__input" placeholder="موضوع"></textarea>
    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1.2" type="text"
      class="d-flex w-100 mat-card-subtitle editor__input no-scroll" placeholder="زیرنویس"></textarea>
    <ckeditor [editor]="editor" [config]="config" [(ngModel)]="content">
    </ckeditor>
  </div>
  <div class="flex-end mt-2" *ngIf="isXSmall$ | async">
    <button class="w-100" mat-stroked-button color="primary">انتشار</button>
  </div>
</div>


<ng-template #notXSmall>
  <div class="my-auto">
    <button mat-stroked-button color="warn" class="ml-1">
      حذف
    </button>
    <button mat-stroked-button color="accent" class="ml-1">
      ذخیره
    </button>
    <button mat-stroked-button color="primary">
      انتشار
    </button>
  </div>
</ng-template>

<!-- little display -->
<mat-menu #menu="matMenu">
  <button mat-menu-item class="mat-button mat-primary text-persian">
    <mat-icon color="primary" mat-font-icon class="far fa-save"></mat-icon>
    ذخیره
  </button>
  <button mat-menu-item class="mat-button mat-warn text-persian">
    <mat-icon color="warn" mat-font-icon class="fa fa-trash"></mat-icon>
    حذف
  </button>
</mat-menu>
