<div class="container" *ngIf="post$ | async as post">
  <app-forum-base></app-forum-base>
  <div class="post-container">
    <app-post-card class="p__card" [post]="post" [admins]="post.social.admins"></app-post-card>
    <div class="comments">
      <div class="comments__title flex-between">
        <mat-divider> </mat-divider>
        <span>بخش نظرات</span>
        <mat-divider> </mat-divider>
      </div>
      <div class="comments__new text-persian">
        <div class="d-flex">
          <div class="content__pic" [ngStyle]="{'background-image': backgroundImage }">
          </div>
          <mat-form-field class="content__field fs-normal w-100">
            <textarea #comment class="no-scroll" [maxLength]="150" cdkTextareaAutosize matInput
              placeholder="نظر خود را بنویسید"></textarea>
          </mat-form-field>
        </div>
        <span class="flex-end fs-small mb-2" style="margin-top:-1rem">{{ comment.textLength }}/150</span>
        <div class="flex-end">
          <button color="primary" mat-button [ngClass]="{'mat-raised-button': comment.textLength > 0 }"
            [disabled]="!comment.textLength">
            ثبت نظر
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
