<app-forum-base style="height: 200px;"></app-forum-base>
<div class="container flex-center" *ngIf="post$ | async as post">
  <div class="post-container w-100">
    <button
      class="d-flex mr-auto my-2"
      (click)="onBack(post.social.name)"
      mat-stroked-button
      style="height: fit-content;"
    >
      بازگشت
    </button>
    <app-post-card
      class="p__card"
      [post]="post"
      [admins]="admins$ | async"
    ></app-post-card>
    <div class="comments">
      <div class="comments__title flex-between">
        <mat-divider> </mat-divider>
        <span style="min-width: 120px;">بخش نظرات</span>
        <mat-divider> </mat-divider>
      </div>
      <div
        *ngIf="(user$ | async).user as user; else registerBox"
        class="comments__new text-persian"
      >
        <div class="d-flex">
          <div
            class="content__pic"
            [ngStyle]="{
              'background-image': user.avatar
                ? 'url(' + user.avatar + ')'
                : 'url(' + '../../../../../assets/avatar.png' + ')'
            }"
          ></div>
          <mat-form-field class="content__field fs-normal w-100">
            <textarea
              matInput
              [formControl]="comment"
              class="no-scroll"
              [maxLength]="150"
              cdkTextareaAutosize
              matInput
              placeholder="نظر خود را بنویسید"
            ></textarea>
            <mat-error>
              "نظر" حداقل باید شامل پانزده حرف باشد
            </mat-error>
          </mat-form-field>
        </div>
        <span class="flex-end fs-small mb-2" style="margin-top: -1rem;"
          >{{ comment.value.length }}/150</span
        >
        <div class="flex-end">
          <button
            (click)="onSendComment(post)"
            color="primary"
            mat-stroked-button
            [ngClass]="{ 'mat-raised-button': comment.value.length > 0 }"
            [disabled]="!comment.value.length"
          >
            ثبت نظر
          </button>
        </div>
      </div>
      <div class="pt-1">
        <app-post-card
          *ngFor="let comment of post.comments"
          [post]="comment"
          [admins]="admins$ | async"
          isComment="true"
        ></app-post-card>
      </div>
    </div>
  </div>
</div>

<ng-template #registerBox>
  <mat-card class="mt-2 d-grid">
    <mat-card-content class="m-auto">
      <span class="fw-bold">برای نظر دادن باید عضو شوید</span>
    </mat-card-content>
    <mat-card-actions class="m-auto">
      <a mat-raised-button color="primary" routerLink="/auth/register">عضویت</a>
    </mat-card-actions>
  </mat-card>
</ng-template>
