<div class="container pb-3" *ngIf="post$ | async as post">
  <div class="d-flex w-100 pos-rel" *ngIf="user$ | async as user">
    <div
      class="d-flex flex-dir-col"
      style="position: sticky; height: fit-content; top: 40%;"
    >
      <button
        (click)="express('LIKE', post, user)"
        matTooltip="+1"
        mat-icon-button
        aria-label="like"
        matTooltipPosition="above"
      >
        <mat-icon
          [ngStyle]="{ color: post.liked ? 'orange' : null }"
          mat-font-icon
          class="fa fa-angle-up"
        ></mat-icon>
      </button>
      <span class="text-center" dir="ltr">{{ post.reaction }}</span>
      <button
        (click)="express('DISLIKE', post, user)"
        mat-icon-button
        matTooltip="-1"
        aria-label="dislike"
      >
        <mat-icon
          [ngStyle]="{ color: post.liked == false ? 'orange' : null }"
          mat-font-icon
          class="fa fa-angle-down"
        >
        </mat-icon>
      </button>
    </div>
    <div class="post-container text-persian">
      <!-- <app-post-card class="p__card" [post]="post" [admins]="admins$ | async"></app-post-card> -->
      <div class="flex-between">
        <span class="w-100 f-blog-post">{{ post.title }}</span>
        <button
          (click)="onBack()"
          mat-stroked-button
          class="pos-abs l-0 ml-2 back-btn"
        >
          بازگشت
        </button>
      </div>
      <span style="font-size: 16px;" class="w-100"
        >{{ post.subtitle }}
        <br *ngIf="post.subtitle" />
        <span class="f-medium-subtitle fw-bold">
          <a
            routerLink="/u/{{ post.author }}"
            class="hover-pointer post__user-link"
          >
            نویسنده: {{ post.author }} </a
          >&nbsp; | &nbsp; تاریخ:
          {{ post.createdAt | persianDate }}
        </span>
      </span>

      <div class="fs-normal" [innerHTML]="safeHTML"></div>
      <div
        style="
          box-shadow: inset #7171714f 17px -16px 20px 8px;
          border: solid 2px #86868636;
          border-radius: 8px;
          padding: 1rem;
          opacity: 0.8;
        "
      >
        <mat-chip-list>
          <span class="fs-normal">دسته‌بندی:</span>
          <a
            class="hover-pointer"
            style="text-decoration: none;"
            mat-chip
            [routerLink]="['/b', sname]"
            [queryParams]="{ flair: flair }"
            *ngFor="let flair of post.flairs"
            >{{ flair }}</a
          >
        </mat-chip-list>
      </div>
    </div>
  </div>

  <div class="comments m-auto">
    <div class="comments__title flex-between">
      <mat-divider> </mat-divider>
      <span style="min-width: 120px;">بخش نظرات</span>
      <mat-divider> </mat-divider>
    </div>
    <div
      *ngIf="(user$ | async).user as user; else registerBox"
      class="comments__new text-persian"
    >
      <div class="d-flex">
        <div
          class="content__pic"
          [ngStyle]="{
            'background-image': user.avatar
              ? 'url(' + user.avatar + ')'
              : 'url(' + '../../../../../assets/avatar.png' + ')'
          }"
        ></div>
        <mat-form-field class="content__field fs-normal w-100">
          <textarea
            matInput
            [formControl]="comment"
            class="no-scroll"
            [maxLength]="150"
            cdkTextareaAutosize
            matInput
            placeholder="نظر خود را بنویسید"
          ></textarea>
          <mat-error>
            "نظر" حداقل باید شامل پانزده حرف باشد
          </mat-error>
        </mat-form-field>
      </div>
      <span class="flex-end fs-small mb-2" style="margin-top: -1rem;"
        >{{ comment.value.length }}/150</span
      >
      <div class="flex-end">
        <button
          (click)="onSendComment(post)"
          color="primary"
          mat-stroked-button
          [ngClass]="{ 'mat-raised-button': comment.value.length > 0 }"
          [disabled]="!comment.value.length"
        >
          ثبت نظر
        </button>
      </div>
    </div>
    <div class="pt-1">
      <app-post-card
        isComment="true"
        [sname]="sname"
        *ngFor="let comment of post.comments"
        [post]="comment"
      ></app-post-card>
    </div>
  </div>
</div>

<ng-template #registerBox>
  <mat-card class="mt-2 mb-1 d-grid">
    <mat-card-content class="m-auto">
      <span class="fw-bold">برای نظر دادن باید عضو شوید</span>
    </mat-card-content>
    <mat-card-actions class="m-auto">
      <a mat-raised-button color="primary" routerLink="/auth/register">عضویت</a>
    </mat-card-actions>
  </mat-card>
</ng-template>
