<mat-card class="group-detail">
  <mat-card-header>
    <div mat-card-avatar class="d__image" [ngStyle]="{'background-image': forumImage}"></div>
    <mat-card-title>اسم گروه</mat-card-title>
    <mat-card-subtitle class="flex-between">
      تاریخ تاسیس: 1398/7/27
    </mat-card-subtitle>
  </mat-card-header>
  <div class="d__member-stat f-medium-subtitle flex-evenly">
    <div>
      افراد آنلاین: 55
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div>
      تعداد اعضا: 964
    </div>
  </div>

  <mat-card-content class="d__content">
    <div class="d__c__description">

      توضیحات این گروه شامل چیزی که از دیتابیس می‌آید و توسط مدیر آن کامیونیتی نوشته می‌شود.
    </div>

  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
