  mat-card {
    margin: auto;
    min-width: 300px;
    min-height: 300px;
    display: grid;

    mat-card-header {
      display: flex;
      justify-content: center;
    }

    mat-card-content,
    form {
      display: grid;
    }
  }

  .btn {
    min-width: 90px;
  }

  .auth-error {
    text-align: center;
    direction: rtl;
    color: red;
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
  }
