mat-card {
  margin-top: 20px;

  a {
    text-decoration: none;

  }

  mat-card-header {
    display: flex;
    justify-content: center;

    mat-card-title {
      font-weight: 700;
      font-size: 14px; // same as %fs-medium-title
      margin-bottom: 0;
    }
  }
}
