@import './../../../../../styles/form';

mat-icon[matSuffix] {
  user-select: none;
}

.dotted-underline {
  border-bottom: 1px dotted #000;
  color: green;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}
