    <!-- register card -->
    <mat-card *ngIf="(auth$ | async) as auth">
      <mat-card-header>
        <mat-card-title>ثبت‌نام</mat-card-title>
        <mat-card-subtitle dir="rtl">به پایگاه اجتماعات ایران خوش آمدید.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form">
          <mat-form-field>
            <input formControlName="username" matInput placeholder="نام کاربری" autocomplete="username" type="text">
            <mat-error>
              {{ required('نام کاربری') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="ایمیل" autocomplete="email" type="text">
            <mat-error>
              {{ required('ایمیل') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-icon matSuffix class="hover-pointer" (click)="onVisibilityClick()">{{visibilityIcon}}</mat-icon>
            <input formControlName="password" #input matInput placeholder="گذرواژه" autocomplete="new-password"
              [type]="passwordFieldType">
            <mat-error *ngIf="form.get('password').hasError('required')">
              <!-- todo: weakness, letter, number -->
              {{ required('گذرواژه') }}
            </mat-error>
            <mat-error *ngIf="form.get('password').hasError('pattern')">
              "گذرواژه" باید شامل حروف انگلیسی بزرگ و کوچک و عدد باشد
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="passwordConfirm" matInput placeholder="تکرار گذرواژه" autocomplete="new-password"
              type="password" [errorStateMatcher]="matcher">
            <mat-error *ngIf="form.hasError('passwordMismatch')">
              "گذرواژه" با "تکرار گذرواژه" یکسان نیست
            </mat-error>
          </mat-form-field>
          <mat-checkbox class="text-persian fs-normal mt-2" (click)="onCheckbox()" formControlName="acceptRules">
            <span class="mr-1"><span class="dotted-underline hover-pointer">قوانین
                و مقررات</span> سایت را
              می‌پذیرم.</span></mat-checkbox>
        </form>
      </mat-card-content>
      <mat-card-actions class="d-grid">
        <button [disabled]="auth.loading" (click)="register()" class="btn mb-1" mat-raised-button color="primary">
          <span *ngIf="!auth.loading else loading">
            ثبت‌نام
          </span>
          <ng-template #loading>
            <mat-spinner style="margin: 6px auto;" color="accent" [diameter]="25">
            </mat-spinner>
          </ng-template>
        </button>

        <span class="auth-error" *ngIf="auth.mode === 'signup'">
          {{ auth.authError }}
        </span>
      </mat-card-actions>
    </mat-card>
    <!-- register card -->
