    .post {
      margin-bottom: 20px;

      .post__interact {
        align-content: center;
      }

      .post__more {
        margin-left: -14px;
        margin-top: -14px;
      }


      .post__content {
        justify-content: right;
        margin-right: 16px;
        text-align: justify;
      }

    }



    .m__b__icon {
      width: auto;
      height: auto;
      font-size: 20px;
    }
