%pos-abs {
  position: absolute !important;
}

%pos-rel {
  position: relative !important;
}

%l-0 {
  left: 0 !important;
}

%r-0 {
  right: 0 !important;
}

%t-0 {
  top: 0 !important;
}

%b-0 {
  bottom: 0 !important;
}
