@import "../../../../../../../styles/form";

::ng-deep {
  .mat-checkbox-inner-container {
    margin-right: 0;
    margin-left: 8px;
  }
}
mat-card {
  min-height: unset;
  margin-bottom: 0;
  mat-checkbox {
    margin-bottom: 5px;
  }
}
