<mat-card>
  <button
    mat-icon-button
    class="pos-abs t-0 l-0"
    matTooltip="بستن"
    (click)="onClose()"
  >
    <mat-icon class="fa fa-times" inline></mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title>دسترسی نقش‌ها</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="text-persian">
      <div class="flex-between" style="flex-direction: row;">
        <div class="d-flex flex-dir-col w-100">
          <span class="fw-bold mb-1 fs-normal text-center">نقش کاربر</span>
          <mat-checkbox formControlName="newPost">پست جدید</mat-checkbox>
          <mat-checkbox formControlName="comment">ارسال نظر</mat-checkbox>
        </div>
        <mat-divider vertical class="mx-1"> </mat-divider>
        <div class="d-flex flex-dir-col w-100">
          <span class="fw-bold mb-1 fs-normal text-center">نقش مدیر</span>
          <mat-checkbox formControlName="changeAvatar"
            >تغییر آواتار</mat-checkbox
          >
          <mat-checkbox formControlName="changeBanner">تغییر بنر</mat-checkbox>
          <mat-checkbox formControlName="changeInfo"
            >تغییر اطلاعات کلی</mat-checkbox
          >
          <mat-checkbox formControlName="changeWidgets"
            >تغییر ویجت‌ها</mat-checkbox
          >
          <mat-checkbox formControlName="changeUsers"
            >تغییر دسترسی</mat-checkbox
          >
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSave()">
      ذخیره تغییرات
    </button>
  </mat-card-actions>
</mat-card>
