@import '../variables';

.layout-container {
  padding-top: $header-height;
  min-height: 100%;

  .layout-content {
    min-height: calc(100vh - #{$header-height});
  }

  &::ng-deep router-outlet+* {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
  }
}
