@import "../variables";

.layout-container {
  padding-top: $header-height;
  min-height: 100%;
  ::ng-deep mat-sidenav-content > router-outlet + * {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    text-align: center;
    margin-bottom: $footer-height;
  }
  .layout-content {
    min-height: calc(100vh - #{$header-height});
  }

  div.loading-module {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    align-items: center;
  }
}
