@import './base_font';

.f-large-title,
mat-card-title {
  @extend %f-large-title;
}

.f-medium-title {
  @extend %f-medium-title;
}

.f-large-subtitle,
mat-card-subtitle {
  @extend %f-large-subtitle;
}

.f-medium-subtitle {
  @extend %f-medium-subtitle;
}

.fs-normal {
  @extend %fs-normal;
}

.fs-small {
  @extend %fs-small;
}

.fw-bold {
  @extend %fw-bold;
}

.fw-normal {
  @extend %fw-normal;
}

.f-blog-title {
  @extend %f-community-title;
}

.f-forum-title {
  @extend %f-community-title;
  @extend %fw-bold;
}

.text-persian {
  direction: rtl;
  text-align: right !important;
}

.text-english {
  direction: ltr;
  text-align: left !important;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}
