    .post {
      margin-bottom: 20px;

      .post__interact {
        align-content: center;
      }

      .post__more {
        margin-left: -14px;
        margin-top: -14px;
      }


      .post__content {
        justify-content: right;
        margin-right: 16px;
        text-align: justify;
      }

      .post__user-link {
        color: unset;
        text-decoration: none;
        font-style: normal;

        &:hover {
          filter: drop-shadow(2px 4px 6px black);
        }
      }

    }
