<mat-card
  class="post text-persian pr-0 pb-0 d-flex"
  *ngIf="auth$ | async as auth"
>
  <div class="d-grid post__interact">
    <button
      (click)="express('LIKE', auth.user)"
      matTooltip="+1"
      mat-icon-button
      aria-label="like"
      matTooltipPosition="above"
    >
      <mat-icon
        [ngStyle]="{ color: post.liked ? 'orange' : null }"
        mat-font-icon
        class="fa fa-angle-up"
      ></mat-icon>
    </button>
    <span class="text-center" dir="ltr">{{ post.reaction }}</span>
    <button
      (click)="express('DISLIKE', auth.user)"
      mat-icon-button
      matTooltip="-1"
      aria-label="dislike"
    >
      <mat-icon
        [ngStyle]="{ color: post.liked == false ? 'orange' : null }"
        mat-font-icon
        class="fa fa-angle-down"
      >
      </mat-icon>
    </button>
  </div>
  <div class="d-grid w-100">
    <mat-card-header class="flex-between">
      <a
        *ngIf="isHomepage"
        [routerLink]="[socialUrl]"
        class="pos-abs italic t-0 social-link"
      >
        در {{ post.socialType === "BLOG" ? "بلاگ" : "انجمن" }}
        {{ post.social }}</a
      >
      <mat-card-title class="mb-1"
        ><span *ngIf="post.title; else authorCond"> {{ post.title }} </span>
        <ng-template #authorCond>
          <a class="author-link" [routerLink]="['/u', post.author]">{{
            post.author
          }}</a>
          میگه:
        </ng-template>
      </mat-card-title>
      <mat-card-subtitle>
        {{ post.subtitle }}
        <br *ngIf="post.subtitle" />
        <span
          class="f-medium-subtitle fw-bold"
          *ngIf="post.socialType === 'BLOG'"
        >
          <a
            *ngIf="!isComment"
            routerLink="/u/{{ post.author }}"
            class="hover-pointer post__user-link"
          >
            نویسنده: {{ post.author }} &nbsp; | &nbsp;
          </a>
          <span> تاریخ: {{ post.createdAt | persianDate }}</span>
          <span *ngIf="post.updatedAt !== post.createdAt">
            &nbsp; | &nbsp; آخرین بروزرسانی:
            {{ post.updatedAt | persianDate }}</span
          >
        </span>
      </mat-card-subtitle>

      <button class="post__more" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
    <div
      style="outline: none;"
      class="pos-rel"
      [ngClass]="{
        'open-post': !isOnPostPage && post.socialType !== 'BLOG' && !isComment
      }"
      (mouseover)="isHover = true"
      (mouseout)="isHover = false"
      [routerLink]="
        !isOnPostPage && post.socialType !== 'BLOG' && !isComment
          ? [socialUrl, 'p', post._id]
          : null
      "
    >
      <mat-card-content
        class="post__content"
        [ngClass]="{ blurry: isHover }"
        [id]="'p-' + post._id"
        [ngStyle]="{ 'min-height': !isComment ? '100px' : null }"
        [innerHTML]="safeHTML"
        [contentEditable]="editMode"
      >
      </mat-card-content>
    </div>

    <button
      style="width: fit-content;"
      class="mb-2 mt-1 mx-auto"
      color="primary"
      mat-raised-button
      *ngIf="editMode"
      (click)="updateComment(post)"
    >
      ذخیره تغییرات
    </button>
    <mat-card-actions *ngIf="!isComment" class="mb-0 p-0 d-flex">
      <app-post-actions [post]="post" [sname]="sname"></app-post-actions>
      <div
        *ngIf="post.socialType === 'FORUM'; else expandPost"
        class="f-medium-subtitle my-auto mr-auto d-flex"
      >
        <a
          class="italic"
          routerLink="/u/{{ post.author }}"
          class="post__user-link"
        >
          نویسنده: {{ post.author }}
        </a>
        &nbsp; | &nbsp;
        <span class="italic">تاریخ: {{ post.createdAt | persianDate }}</span>
        <span *ngIf="post.updatedAt !== post.createdAt">
          &nbsp; | &nbsp; آخرین بروزرسانی:
          <span class="italic">{{ post.updatedAt | persianDate }}</span></span
        >
      </div>
      <ng-template #expandPost>
        <a
          [routerLink]="[socialUrl, 'p', post._id]"
          class="f-medium-subtitle fw-bold italic my-auto mr-auto d-flex post__user-link"
        >
          ادامه‌ی مطلب
        </a>
      </ng-template>
    </mat-card-actions>
  </div>
</mat-card>

<mat-menu #menu="matMenu">
  <!-- if moderator or writer -->
  <a
    *ngIf="post.author === (auth$ | async).user?.username"
    (click)="onEdit(post)"
    mat-menu-item
    class="mat-button mat-primary text-persian w-100 d-flex align-center"
  >
    <mat-icon color="primary" mat-font-icon class="fa fa-edit"> </mat-icon>
    ویرایش
  </a>
  <button mat-menu-item class="mat-button mat-warn text-persian">
    <mat-icon color="warn" mat-font-icon class="far fa-flag"></mat-icon>
    گزارش
  </button>
  <!-- if moderator or writer -->
  <button
    mat-menu-item
    class="mat-button mat-warn text-persian"
    *ngIf="isPermittedToRemove((auth$ | async).user?.username)"
    (click)="onDeletePost()"
  >
    <mat-icon
      color="warn"
      mat-font-icon="fa-icon"
      class="fa fa-trash"
    ></mat-icon>
    حذف
  </button>
</mat-menu>
