@import '../../../../styles/form';


mat-icon[matPrefix] {
  user-select: none;
}


.login-btn {
  margin: 20px auto 0 auto !important;
}

.forgot-password {
  margin-top: -10px;

  .fp__action:hover {
    opacity: .5;
  }
}
