@import '../../../../styles/form';


mat-icon[matPrefix] {
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

mat-card-actions {
  margin-bottom: 8px;

  .login-btn {
    margin: 20px auto 0 auto;
  }

  .forgot-password {
    margin-right: 8px;

    .fp__action {
      &:hover {
        cursor: pointer;
        opacity: .5;
      }
    }
  }
}

.register-btn {
  margin-top: 10px;
}
