<mat-card *ngIf="(auth$ | async) as auth">
  <mat-card-header>
    <mat-card-title>ورود</mat-card-title>
    <mat-card-subtitle dir="rtl">به پایگاه اجتماعات ایران خوش آمدید.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input formControlName="username" matInput placeholder="نام کاربری" autocomplete="username" type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-icon matPrefix (click)="onVisibilityClick()">{{visibilityIcon}}</mat-icon>
        <input formControlName="password" (keyup.enter)="login()" #input matInput placeholder="گذرواژه"
          autocomplete="current-password" [type]="passwordFieldType">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <span>رمز عبور خود را فراموش کرده‌اید؟
      <b class="forgot-password" (click)="navigateForgotPassword()">کلیک کنید</b>
    </span>
    <button (click)="login()" class="btn login-btn" mat-raised-button color="primary" [disabled]="auth.loading"><span
        *ngIf="!auth.loading else loading">ورود</span>
      <ng-template #loading>
        <mat-spinner style="margin: 6px 0;" color="accent" [diameter]="25"></mat-spinner>
      </ng-template>
    </button>
    <span class="auth-error" *ngIf="auth.mode === 'signin'">
      {{ auth.authError }}
    </span>
  </mat-card-actions>
  <mat-divider [inset]="true"></mat-divider>
  <button (click)="navigateRegister()" class="register-btn" mat-flat-button color="accent">ثبت‌نام کنید</button>

</mat-card>
