<mat-card *ngIf="auth$ | async as auth" class="no-custom-theme">
  <button
    mat-icon-button
    class="pos-abs t-0 l-0"
    matTooltip="بستن"
    (click)="onClose()"
  >
    <mat-icon class="fa fa-times" inline></mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title>ورود</mat-card-title>
    <mat-card-subtitle dir="rtl"
      >به پایگاه اجتماعات ایران خوش آمدید.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="mb-0">
    <form [formGroup]="form">
      <mat-form-field>
        <input
          id="username"
          #username="matInput"
          formControlName="username"
          matInput
          placeholder="نام کاربری"
          autocomplete="username"
          type="text"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-icon
          matPrefix
          class="hover-pointer"
          (click)="onVisibilityClick()"
          >{{ visibilityIcon }}</mat-icon
        >
        <input
          id="password"
          formControlName="password"
          (keyup.enter)="login()"
          #input
          matInput
          placeholder="گذرواژه"
          autocomplete="current-password"
          [type]="passwordFieldType"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions
    class="text-persian pt-0 fs-normal d-flex flex-dir-col mb-1"
  >
    <span class="forgot-password mr-1 fs-small"
      >رمز عبور خود را فراموش کرده‌اید؟
      <b class="fp__action hover-pointer" (click)="navigateForgotPassword()"
        >کلیک کنید</b
      >
    </span>
    <button
      id="loginClick"
      (click)="login()"
      class="btn login-btn flex-center"
      mat-raised-button
      color="primary"
      [disabled]="auth.loading"
    >
      <span *ngIf="!auth.loading; else loading">ورود</span>
      <ng-template #loading>
        <mat-spinner
          id="loading"
          class="my-1 mx-0"
          color="accent"
          [diameter]="25"
        ></mat-spinner>
      </ng-template>
    </button>
    <span class="auth-error" id="authError" *ngIf="auth.mode === 'signin'">
      {{ auth.authError }}
    </span>
  </mat-card-actions>
  <mat-divider [inset]="true"></mat-divider>
  <button
    id="registerClick"
    (click)="navigateRegister()"
    class="mt-2"
    mat-flat-button
    color="accent"
  >
    ثبت‌نام کنید
  </button>
</mat-card>
