<div *ngIf="search$ | async as search" class="mt-3 flex-evenly container">
  <div class="d-flex flex-dir-col mx-3 right-side" style="margin-top: 4.25rem;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>انجمن‌های داغ</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list *ngIf="search.forums?.length; else noHotForum">
          <div *ngFor="let forum of search.forums; last as last">
            <a
              [routerLink]="['/c', forum.name]"
              routerLinkActive="router-link-active"
              class="fs-small text-persian h-auto py-1"
              mat-list-item
            >
              {{ forum.title }}
            </a>
            <mat-divider *ngIf="!last" class="pos-rel"></mat-divider>
          </div>
        </mat-nav-list>
        <ng-template #noHotForum>
          <span class="fs-small fw-normal">
            اولین انجمنی باشید که اینجا قرار می‌گیرد. ✨</span
          >
        </ng-template>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>بلاگ‌های داغ</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list *ngIf="search.blogs?.length; else noHotBlog">
          <div *ngFor="let blog of search.blogs; last as last">
            <a
              [routerLink]="['/b', blog.name]"
              class="fs-small text-persian h-auto py-1"
              mat-list-item
            >
              {{ blog.title }}
            </a>
            <mat-divider *ngIf="!last" class="pos-rel"></mat-divider>
          </div>
        </mat-nav-list>
        <ng-template #noHotBlog>
          <span class="fs-small fw-normal">
            اولین بلاگی باشید که اینجا قرار می‌گیرد. ✨</span
          >
        </ng-template>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>📢</mat-card-title>
      </mat-card-header>
      <mat-card-content class="py-3">
        تبلیغات شما اینجا
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">سفارش تبلیغ</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>توجه</mat-card-title>
      </mat-card-header>
      <mat-card-content class="fs-small">
        این بستر فعلا در مراحل اولیه است.
      </mat-card-content>
      <mat-card-actions class="fs-small">
        در حال توسعه توسط <b>مهدی شیری</b>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-divider class="divide-sections"> </mat-divider>
  <div class="d-flex flex-dir-col mx-3 post-container">
    <div class="flex-between mb-2 align-center">
      <mat-button-toggle-group
        (change)="onToggleSortBy($event.value)"
        [value]="postSortBy"
        class="m-auto fs-small"
      >
        <mat-button-toggle value="NEWEST"> 🆕 جدیدترین‌</mat-button-toggle>
        <mat-button-toggle value="HOT">🚀 داغ‌ترین</mat-button-toggle>
        <mat-button-toggle value="TOP">💯 بهترین‌ها</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <ng-container *ngIf="!search.loadingPost; else PostSkeleton">
      <ng-container *ngIf="search.postLength; else noPost">
        <app-post-card
          [isHomepage]="true"
          *ngFor="let post of search.posts"
          [post]="post"
        ></app-post-card>
        <mat-paginator
          class="text-english mb-2"
          [length]="search.postLength"
          pageSize="10"
          (page)="onChangePage($event)"
          [pageSizeOptions]="[5, 10, 20]"
        ></mat-paginator>
      </ng-container>
      <ng-template #noPost>
        <div class="flex-center align-center mt-2">
          <span>هنوز پستی منتشر نشده است.</span>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #PostSkeleton>
      <app-skeleton-forum-post
        *ngFor="let _ of [].constructor(3)"
      ></app-skeleton-forum-post>
    </ng-template>
  </div>
</div>
