@import "./../../../../variables";
.container {
  flex-wrap: wrap;
  @media screen and (max-width: $max-width) {
    flex-direction: column-reverse;
  }
  .divide-sections {
    display: none;
    @media screen and (max-width: $max-width) {
      display: inherit;
      margin: 1rem 1rem 2rem 1rem;
    }
  }
  .right-side {
    max-width: 300px;
    width: 25%;
    @media screen and (max-width: $max-width) {
      width: 95%;
      max-width: unset;
      margin: auto !important;
    }
    mat-card:last-child {
      margin-bottom: 1rem;
    }
  }
  .post-container {
    width: 60vw;
    @media screen and (max-width: $max-width) {
      width: 95%;
      margin: auto !important;
    }
  }
  mat-card {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    mat-card-header {
      display: flex;
      justify-content: center;
      mat-card-title {
        font-size: 12px !important;
      }
    }
  }
}
