<app-widget-rules></app-widget-rules>
<app-widget-users-list [users]="users" title="مدیران"></app-widget-users-list>
<app-widget-users-list [users]="users" title="بهترین کاربران"></app-widget-users-list>

<mat-card style="margin-top: 20px;">
  <mat-card-header>
    <mat-card-title>
      ویجت {{widgets}}
    </mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
