    mat-card {
      align-items: center;
      max-width: 400px;
      min-width: 250px;
      margin: auto 10px;

      mat-icon {
        font-size: 20rem;
        height: auto;
        width: auto;
        color: tomato;
      }

      .error {
        margin-bottom: 10px;

        .error__code {
          font-size: 28px;
        }
      }
    }
