.cdk-overlay-container {
  z-index: 1045;
}

[mat-menu-item] {
  text-align: right !important;
}

.mat-menu-item .mat-icon {
  margin-right: 0 !important;
  margin-left: 16px;
}

mat-form-field {
  text-align: right !important;
}

mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

.mat-tooltip {
  font-family: IRANSans;
}

.mat-form-field-appearance-outline {
  direction: ltr;

  .mat-form-field-label mat-label {
    padding-right: 24px;
  }
}


button>mat-icon[mat-font-icon] {
  width: auto;
  height: auto;
  font-size: 20px;
}

.mat-form-field-label {
  padding-top: 2px; // input labels aren't seen well
  direction: rtl;
}

.unicorn-dark-theme .mat-checkbox-label {
  // background: #424242;
  color: white;
}

.mat-tab-link-container {
  direction: rtl;
  flex-direction: row-reverse;
}

.mat-paginator-range-label,
.mat-paginator-page-size {
  direction: rtl;


}

.mat-option-text {
  text-align: right;
}
