@import './themes';
@import './styles/common';
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  src: url('assets/fonts/IRANSans.ttf');
}

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  direction: rtl;
  text-align: center;
  // max-width: 100vw;

  font-family: IRANSans, Open-Sans;

  * {
    font-family: IRANSans, Open-Sans;
  }

  span,
  h1,
  button,
  label,
  div,
  a {
    font-family: IRANSans, Open-Sans !important;
  }

  code {
    font-family: monospace;
  }
}

.ck.ck-input.ck-input-text {
  text-align: left !important;
}

.ck.ck-toolbar {
  border: none;

  .ck.ck-toolbar__items .ck.ck-button {
    margin-left: 0 !important;
  }
}

.ck.ck-balloon-panel.ck-balloon-panel_visible {
  // @media screen and (max-width: 500px) {
  //   left: 0 !important;
  // }

  // display: flex !important;
  // position: relative !important;
}
