%d-flex {
  display: flex !important;
}

%d-grid {
  display: grid;
}

%flex-between {
  @extend %d-flex;
  justify-content: space-between;
}

%flex-center {
  @extend %d-flex;
  justify-content: center;
}

%flex-end {
  @extend %d-flex;
  justify-content: flex-end;
}

%flex-evenly {
  @extend %d-flex;
  justify-content: space-evenly;
}

%flex-dir-col {
  flex-direction: column;
}

%no-scroll-x {
  overflow-x: hidden !important;
}

%no-scroll-y {
  overflow-y: hidden !important;
}

%scroll-auto-x {
  overflow-x: auto !important;
}

%scroll-auto-y {
  overflow-y: auto !important;
}
