<mat-card>
  <mat-card-header>
    <mat-card-title>{{ viewValue || 'موضوعات' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-1" *ngIf="social$ | async as social">
    <mat-chip-list>
      <!-- <a class="m-1"  routerLink="." [queryParams]="{flair: flair}"> -->
      <a mat-chip [routerLink]="" [queryParams]="{flair: flair}" class="hover-pointer mx-auto"
        *ngFor="let flair of social.flairs">
        {{flair}}
      </a>
      <a mat-chip routerLink="." class="hover-pointer mx-auto"> همه </a> <!-- </a> -->

    </mat-chip-list>
  </mat-card-content>
</mat-card>
